# Ignorer les fichiers JSON contenant des informations sensibles
credentials.json
token.json
service-account.json
secrets/

history_cache.db

# Ignorer les fichiers de cache Python
__pycache__/
*.py[cod]

# Ignorer les fichiers spécifiques aux environnements de développement
.vscode/
*.env
